<div class="container">
    <div class="row no-gutters">
        <div class="col-lg-12 px-5 pt-5">
            <h1 class="font-weight-bold py-3">View SWOT Item</h1>
            <h4 class="font-weight-bold py-3">{{ inItem.type }}: {{ inItem.name }}</h4>
            <h4>Notes:</h4>
            <p>{{ inItem.note }}</p>
        </div>
        <div class="col-lg-12 px-5 pt-5">
            <!-- <button type="button" class="btn1 mt-3 mb-5" (click)="modal.close('Close click')">Close</button> -->
        </div>
    </div>
</div>
