#display-box-info{
    background-color: var(--dark-gray);
    border: 5px solid var(--orange);
    width: 250px;
    font-size:0.8rem;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    color: var(--light-gray);

}

.toggle-btn:focus{
    border-color: var(--orange);
    box-shadow: 0 0 0 0.2rem var(--brown);
}

.toggle-btn {
    padding: 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    
    border: none;
    transition: 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;

    box-shadow: 0 1px 3px black;
}

.toggle-btn:hover {
    background-color: var(--light-gray);
    
}