<!-- <button type="button" class="btn1 mt-3 mb-5" (click)="addProgressReport()">Add Progress Report</button> -->

<div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Add a progress report for this SWOT</h1>
        <form [formGroup]="reportForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col-lg-12">
              <textarea class="form-control my-2 p-2" rows="10" cols="50" placeholder="Report on your progress on the SWOT goals set out for you by your manager" [formControlName]="'inputReport'" id="content" required></textarea>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-12">
              <button type="submit" class="btn1 mt-3 mb-3" value="submitReport">Submit Progress Report</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> 